<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
      <%= image_tag movie.image_file_name%>
    </div>
    <div class="summary">
      <h2>
        <%= link_to movie.title, movie %>
        <%= link_to "Reviews", movie_reviews_path(movie.id), class: "btn" %>
      </h2>
      <h3>
        <%= revenue(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
      <p>
      </p>
    </div>
  </section>
<% end %>