<h1>Create Movie</h1>
<%= form_with model: @movie do |f| %>
  <%= f.label :name%>
  <%= f.text_field :title %>
  <%= f.label :rating%>
  <%= f.text_field :rating%>
  <%= f.label :total_gross%>
  <%= f.number_field :total_gross%>
  <%= f.label :description%>
  <%= f.text_area :description, row: 5 %>
  <%= f.label :released_on%>
  <%= f.date_field :released_on%>
  <%= f.submit %>
<% end %>
