<h1>User Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h2>Favourite Movies</h2>
<div class="favourites">
  <%@user.favourite_movies.each do |movie|%>
    <div class="favourite">
      <%= link_to movie.title, movie %>
    </div>
  <%end%>
</div>
<h2>Reviews</h2>
<% if @user.reviews.exists?%>
  <% @user.reviews.each do |r| %>
    <div class="review">
      <div class="title">
        <%= link_to r.movie.title, r.movie %>
      </div>
      <%= pluralize(r.stars, 'star') %>
      <div class="date">
        <%= time_ago_in_words(r.created_at) %> ago
      </div>
      <p>
        <%= r.comment %>
      </p>
    </div>
  <%end %>
<% end%>