<h1>Reviews for <%= @movie.title %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= review.user.name %>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <%= review.comment %>
      <div class="likes">
        <% if current_user %>
          <%= button_to "ðŸ‘", movie_review_likes_path(@movie, review, value: 1), method: :post %>
        <% end %>
        <%= review.likes_score %>
        <% if current_user %>
          <%= button_to "ðŸ‘Ž", movie_review_likes_path(@movie, review, value: -1), method: :post %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>